*{
    margin: 0;
    padding:0;
}
.menulist{
    display: flex;
    gap:0px 3px;
    justify-content: center;
}
.menulist li { list-style: none;

}
.menulist li a {
    text-decoration: none;
    color: lightgray;
    font-size: 12px;
    margin: 0px 10px;
    
}
.menulist li a:hover{ color:black

}
.bannar{
    display: flex;
}
.button{
    color:white;
    background-color: orangered;

}
.text-area{
    width: 50%;
}
.image-area{
    width: 50%;
}
.image-area > img{
    width: 200px;
}